<launch>

  <arg name="rviz_arg" default="-d $(find SlamRobotFollower)/rviz/explore.rviz" />
  <arg name="world_name" default="$(find SlamRobotFollower)/worlds/slam_maze.world"/>

  <!-- Arguments for the first robot -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="first_tb3"  default="tb3_0"/>
  <arg name="second_tb3" default="tb3_1"/>
  <arg name="third_tb3"  default="tb3_2"/>

  <arg name="first_tb3_x_pos" default="0.0"/>
  <arg name="first_tb3_y_pos" default="0.0"/>
  <arg name="first_tb3_z_pos" default=" 0.0"/>
  <arg name="first_tb3_yaw"   default=" 0.0"/>

  <!-- <arg name="second_tb3_x_pos" default=" -0.2"/>
  <arg name="second_tb3_y_pos" default=" 0.0"/>
  <arg name="second_tb3_z_pos" default=" 0.0"/>
  <arg name="second_tb3_yaw"   default=" 0.0"/> -->

  <!-- Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <!-- Robot 1 -->
  <group ns="$(arg first_tb3)">
    <!-- Robot description -->

    <!-- Spawn Robot 1 -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg first_tb3) -x $(arg first_tb3_x_pos) -y $(arg first_tb3_y_pos) -z $(arg first_tb3_z_pos) -Y $(arg first_tb3_yaw) -param robot_description" />

    <!-- SLAM for Robot 1 -->
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
      <arg name="slam_methods" value="gmapping" />
      <arg name="open_rviz" value="false" />
      <param name="tf_prefix" value="$(arg first_tb3)" />
    </include>
    

    <!-- Navigation for Robot 1 -->
    <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
      <param name="tf_prefix" value="$(arg first_tb3)" />

      <!-- Global Costmap -->
      <param name="move_base/global_costmap/static_map" value="true" />
      <param name="move_base/global_costmap/inflation_radius" value="0.4" />
      <param name="move_base/global_costmap/obstacle_range" value="3.0" />

      <!-- Local Costmap -->
      <param name="move_base/local_costmap/static_map" value="false" />
      <param name="move_base/local_costmap/inflation_radius" value="1" />
      <param name="move_base/local_costmap/obstacle_range" value="2" />
      <param name="move_base/local_costmap/width" value="2.0" />
      <param name="move_base/local_costmap/height" value="2.0" />

      <!-- Robot Footprint -->
      <param name="robot_radius" value="0.05" />
      <param name="footprint_padding" value="0.02" />

      <!-- Planner Biases -->
      <param name="move_base/TrajectoryPlannerROS/path_distance_bias" value="50.0" />
      <param name="move_base/TrajectoryPlannerROS/goal_distance_bias" value="10.0" />
      <param name="move_base/TrajectoryPlannerROS/occdist_scale" value="0.01" />

      <!-- Obstacle Distance -->
      <param name="move_base/TrajectoryPlannerROS/min_obstacle_dist" value="0.1" />

    </include>


  </group>


  <!-- Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="$(arg rviz_arg)"/>


</launch>
